.caja-basica {
    border: 2px solid #00bcd4;
    background-color: #FFE8CD;
    margin: 20px;
    width: 200px;
    height: 100px;
    padding: 50px;
}

.caja-estatica {
    position: static;
    width: 150px;
    height: 50px;
    background-color: #a7d9f7;
    border: 2px solid #3498db;
    margin: 30px;
    /* Solo para separarlas un poco */
    text-align: center;
    line-height: 50px;
    /* Para centrar el texto verticalmente */
    top: 200px; left: 200px; 
    /* ¡Estas propiedades NO HARÁN NADA aquí! */
}

.contenedor-flujo {
    border: 2px dashed #ccc;
    padding: 20px;
    margin-bottom: 50px;
}

.caja-flujo {
    width: 150px;
    height: 50px;
    background-color: #d4edda;
    border: 1px solid #28a745;
    margin: 10px;
    text-align: center;
    line-height: 50px;
}

.caja-relativa {
    position: relative;
    /* ¡Activamos el modo relativo! */
    top: 40px;
    /* Me muevo 20px hacia abajo de mi posición original */
    left: 60px;
    /* Me muevo 300px a la derecha de mi posición original */
    background-color: #fff3cd;
    border: 1px solid #ffc107;
    width: 300px;
    height: 50px;
    margin: 10px;
    /* El margen sigue afectando su posición original */
    text-align: center;
    line-height: 50px;
}