body {
    background-image: url(/08_session/lab/02_menu/image/fondo-2.jpg);
    background-size: cover;
    height: 100vh;
}

nav {
    background-color: #16610E;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

nav a:hover {
    background-color: #131D4F;
}

.dropdown-nav li.has-submenu {
    position: relative;
}

.dropdown-nav .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #131D4F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #131D4F;
    z-index: 100;
    border-radius: 0 0 5px 5px;
}

.dropdown-nav .submenu li {
    margin: 0;
}

.dropdown-nav li.has-submenu:hover > a {
    background-color: #131D4F;
}
.dropdown-nav .submenu li a {
    padding: 12px 15px;
    white-space: nowrap;
    border-radius: 0;
}

.dropdown-nav li.has-submenu:hover .submenu {
    display: block;
}

.dropdown-nav .submenu li a:hover {
    background-color: #3A59D1;
}