/* Definimos los estilos globales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

/* Header con imagen de fondo */
.hero {
    background-image: url('/07_session/lab/landing-moviltech/images/banner-moviltech.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 12rem 3rem;
    position: relative;
}

/* Panel de sombra azul en el banner */
.hero .overlay {
    background-color: #0e21488e;
    padding: 6rem;
    border-radius: 10px;
}

/* Navegación */
nav {
    background-color: #010e3a;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

nav a:hover {
    background-color: #485460;
}

/* Main Content */
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

/* Galería de Vehículos en Cards */
.galeria-autos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

/* Estilo de cada card */
.galeria-autos .card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

/* Efecto cuando se pasa el mouse sobre el card*/
.galeria-autos .card:hover {
    transform: translateY(-5px);
}

/* Adecuación de la imagen al card */
.galeria-autos .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* Margen para el nombre del carro */
.galeria-autos .card h3 {
    margin: 0.5rem;
}

/* Margen para el párrafo descriptivo */
.galeria-autos .card p {
    margin: 0 0.5rem 1rem;
}

aside {
    background: #dff9fb;
    padding: 1rem;
    border-left: 5px solid #0a3d62;
    margin-bottom: 2rem;
    border-radius: 5px;
}

#financiamiento {
    background-color: #eef6ff;
    border-left: 5px solid #007bff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#financiamiento h2 {
    margin-top: 0;
    color: #0a3d62;
}

#financiamiento p {
    font-size: 1.05rem;
}







